## 1. Introduction
<p><img src="https://assets.datacamp.com/production/project_1197/img/google_play_store.png" alt="Google Play logo"></p>
<p>Mobile apps are everywhere. They are easy to create and can be very lucrative from the business standpoint. Specifically, Android is expanding as an operating system and has captured more than 74% of the total market<sup><a href="https://www.statista.com/statistics/272698/global-market-share-held-by-mobile-operating-systems-since-2009">[1]</a></sup>. </p>
<p>The Google Play Store apps data has enormous potential to facilitate data-driven decisions and insights for businesses. In this notebook, we will analyze the Android app market by comparing ~10k apps in Google Play across different categories. We will also use the user reviews to draw a qualitative comparision between the apps.</p>
<p>The dataset you will use here was scraped from Google Play Store in September 2018 and was published on <a href="https://www.kaggle.com/lava18/google-play-store-apps">Kaggle</a>. Here are the details: <br>
<br></p>
<div style="background-color: #efebe4; color: #05192d; text-align:left; vertical-align: middle; padding: 15px 25px 15px 25px; line-height: 1.6;">
    <div style="font-size:20px"><b>datasets/apps.csv</b></div>
This file contains all the details of the apps on Google Play. There are 9 features that describe a given app.
<ul>
    <li><b>App:</b> Name of the app</li>
    <li><b>Category:</b> Category of the app. Some examples are: ART_AND_DESIGN, FINANCE, COMICS, BEAUTY etc.</li>
    <li><b>Rating:</b> The current average rating (out of 5) of the app on Google Play</li>
    <li><b>Reviews:</b> Number of user reviews given on the app</li>
    <li><b>Size:</b> Size of the app in MB (megabytes)</li>
    <li><b>Installs:</b> Number of times the app was downloaded from Google Play</li>
    <li><b>Type:</b> Whether the app is paid or free</li>
    <li><b>Price:</b> Price of the app in US$</li>
    <li><b>Last Updated:</b> Date on which the app was last updated on Google Play </li>

</ul>
</div>
<div style="background-color: #efebe4; color: #05192d; text-align:left; vertical-align: middle; padding: 15px 25px 15px 25px; line-height: 1.6;">
    <div style="font-size:20px"><b>datasets/user_reviews.csv</b></div>
This file contains a random sample of 100 <i>[most helpful first](https://www.androidpolice.com/2019/01/21/google-play-stores-redesigned-ratings-and-reviews-section-lets-you-easily-filter-by-star-rating/)</i> user reviews for each app. The text in each review has been pre-processed and passed through a sentiment analyzer.
<ul>
    <li><b>App:</b> Name of the app on which the user review was provided. Matches the `App` column of the `apps.csv` file</li>
    <li><b>Review:</b> The pre-processed user review text</li>
    <li><b>Sentiment Category:</b> Sentiment category of the user review - Positive, Negative or Neutral</li>
    <li><b>Sentiment Score:</b> Sentiment score of the user review. It lies between [-1,1]. A higher score denotes a more positive sentiment.</li>

</ul>
</div>
<p>From here on, it will be your task to explore and manipulate the data until you are able to answer the three questions described in the instructions panel.<br></p>

# Questions for this case study:
#### 1- Read the apps.csv file and clean the Installs column to convert it into integer data type. Save your answer as            a DataFrame apps. Going forward, you will do all your analysis on the apps DataFrame.

#### 2- Find the number of apps in each category, the average price, and the average rating. Save your answer as a DataFrame app_category_info. Your should rename the four columns as: Category, Number of apps, Average price, Average rating.

#### 3- Find the top 10 free FINANCE apps having the highest average sentiment score. Save your answer as a DataFrame top_10_user_feedback. Your answer should have exactly 10 rows and two columns named: App and Sentiment Score, where the average Sentiment Score is sorted from highest to lowest.

In [1]:
# Use this cell to begin your analysis, and add as many as you would like!
#Importing Pandas Library
import pandas as pd

In [2]:
#Reading CSV file
apps = pd.read_csv("datasets/apps.csv")
apps.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Last Updated
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19.0,"10,000+",Free,0.0,"January 7, 2018"
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14.0,"500,000+",Free,0.0,"January 15, 2018"
2,"U Launcher Lite â€“ FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7,"5,000,000+",Free,0.0,"August 1, 2018"
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25.0,"50,000,000+",Free,0.0,"June 8, 2018"
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8,"100,000+",Free,0.0,"June 20, 2018"

In [3]:
#Show details about (Installs) column
print("Number of unique elements : {}".format(apps["Installs"].nunique()))
print()
print("--------------------------------------")
print()
apps.info()
print()
print("--------------------------------------")
print()
apps["Installs"].value_counts()

Number of unique elements : 21

--------------------------------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9659 entries, 0 to 9658
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   App           9659 non-null   object
 1   Category      9659 non-null   object
 2   Rating        8196 non-null   float64
 3   Reviews       9659 non-null   int64
 4   Size          8432 non-null   float64
 5   Installs      9659 non-null   object
 6   Type          9659 non-null   object
 7   Price         9659 non-null   float64
 8   Last Updated  9659 non-null   object
dtypes: float64(3), int64(1), object(5)
memory usage: 679.3+ KB

--------------------------------------

1,000,000+        1417
100,000+          1112
10,000+           1031
10,000,000+        937
1,000+             888
100+               710
5,000,000+         607
500,000+           505
50,000+            469
5,000+             468
10+                385
500+               328
50+                204
50,000,000+        202
100,000,000+       188
5+                  82
1+                  67
500,000,000+        24
1,000,000,000+      20
0+                  14
0                    1
Name: Installs, dtype: int64

In [4]:
#Modifying each element in the Installs column to be ready for being an integer
def modify(x):
    if x[-1] == '+':
        x = x[:-1]
    return int("".join(x.split(',')))

#Modifying the Installs column
apps["Installs"] = apps["Installs"].apply(modify)

In [5]:
#Check the Installs column after being modified

#Show details about (Installs) column
print("Number of unique elements : {}".format(apps["Installs"].nunique()))
print()
print("--------------------------------------")
print()
apps.info()
print()
print("--------------------------------------")
print()
apps["Installs"].value_counts()

Number of unique elements : 20

--------------------------------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9659 entries, 0 to 9658
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   App           9659 non-null   object
 1   Category      9659 non-null   object
 2   Rating        8196 non-null   float64
 3   Reviews       9659 non-null   int64
 4   Size          8432 non-null   float64
 5   Installs      9659 non-null   int64
 6   Type          9659 non-null   object
 7   Price         9659 non-null   float64
 8   Last Updated  9659 non-null   object
dtypes: float64(3), int64(2), object(4)
memory usage: 679.3+ KB

--------------------------------------

1000000       1417
100000        1112
10000         1031
10000000       937
1000           888
100            710
5000000        607
500000         505
50000          469
5000           468
10             385
500            328
50             204
50000000       202
100000000      188
5               82
1               67
500000000       24
1000000000      20
0               15
Name: Installs, dtype: int64

In [6]:
#Check duplicates
apps.duplicated().sum()
#No duplicates

0

In [7]:
#Showing the whole dataframe
apps.head(15)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Last Updated
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19.0,10000,Free,0.0,"January 7, 2018"
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14.0,500000,Free,0.0,"January 15, 2018"
2,"U Launcher Lite â€“ FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7,5000000,Free,0.0,"August 1, 2018"
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25.0,50000000,Free,0.0,"June 8, 2018"
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8,100000,Free,0.0,"June 20, 2018"
5,Paper flowers instructions,ART_AND_DESIGN,4.4,167,5.6,50000,Free,0.0,"March 26, 2017"
6,Smoke Effect Photo Maker - Smoke Editor,ART_AND_DESIGN,3.8,178,19.0,50000,Free,0.0,"April 26, 2018"
7,Infinite Painter,ART_AND_DESIGN,4.1,36815,29.0,1000000,Free,0.0,"June 14, 2018"
8,Garden Coloring Book,ART_AND_DESIGN,4.4,13791,33.0,1000000,Free,0.0,"September 20, 2017"
9,Kids Paint Free - Drawing Fun,ART_AND_DESIGN,4.7,121,3.1,10000,Free,0.0,"July 3, 2018"
10,Text on Photo - Fonteee,ART_AND_DESIGN,4.4,13880,28.0,1000000,Free,0.0,"October 27, 2017"
11,Name Art Photo Editor - Focus n Filters,ART_AND_DESIGN,4.4,8788,12.0,1000000,Free,0.0,"July 31, 2018"
12,Tattoo Name On My Photo Editor,ART_AND_DESIGN,4.2,44829,20.0,10000000,Free,0.0,"April 2, 2018"
13,Mandala Coloring Book,ART_AND_DESIGN,4.6,4326,21.0,100000,Free,0.0,"June 26, 2018"
14,3D Color Pixel by Number - Sandbox Art Coloring,ART_AND_DESIGN,4.4,1518,37.0,100000,Free,0.0,"August 3, 2018"

In [8]:
apps.count()

App             9659
Category        9659
Rating          8196
Reviews         9659
Size            8432
Installs        9659
Type            9659
Price           9659
Last Updated    9659
dtype: int64

In [9]:
#Finding the number of apps in each category, the average price, and the average rating. 
app_category_info = apps.groupby(["Category"]).agg({'App':'count','Price':'mean','Rating':'mean'})
app_category_info.columns = ['Number of apps','Average price','Average rating']

##### Another Solution for the above cell  ðŸ‘‡

In [10]:
#app_category_info = pd.DataFrame(columns=['Category','Number of apps','Average price','Average rating'])
#app_category_info['Category']=apps["Category"].unique()
#group = apps.groupby(["Category"])
#app_category_info['Number of apps']=group["Category"].agg("count").data
#app_category_info['Average price']=group["Price"].agg("mean").data
#app_category_info['Average rating']=group["Rating"].agg("mean").data

In [11]:
app_category_info

                     Number of apps  Average price  Average rating
Category
ART_AND_DESIGN                   64       0.093281        4.357377
AUTO_AND_VEHICLES                85       0.158471        4.190411
BEAUTY                           53       0.000000        4.278571
BOOKS_AND_REFERENCE             222       0.539505        4.344970
BUSINESS                        420       0.417357        4.098479
COMICS                           56       0.000000        4.181481
COMMUNICATION                   315       0.263937        4.121484
DATING                          171       0.160468        3.970149
EDUCATION                       119       0.150924        4.364407
ENTERTAINMENT                   102       0.078235        4.135294
EVENTS                           64       1.718594        4.435556
FAMILY                         1832       1.309967        4.179664
FINANCE                         345       8.408203        4.115563
FOOD_AND_DRINK                  112       0.075714        4.172340
GAME                            959       0.296465        4.247368
HEALTH_AND_FITNESS              288       0.223438        4.243033
HOUSE_AND_HOME                   74       0.000000        4.150000
LIBRARIES_AND_DEMO               84       0.011786        4.178125
LIFESTYLE                       369       6.398022        4.093355
MAPS_AND_NAVIGATION             131       0.205725        4.036441
MEDICAL                         395       2.520759        4.166552
NEWS_AND_MAGAZINES              254       0.015669        4.121569
PARENTING                        60       0.159667        4.300000
PERSONALIZATION                 376       0.400213        4.332215
PHOTOGRAPHY                     281       0.420925        4.157414
PRODUCTIVITY                    374       0.670936        4.183389
SHOPPING                        202       0.027129        4.230000
SOCIAL                          239       0.066820        4.247291
SPORTS                          325       0.307692        4.216154
TOOLS                           827       0.323156        4.039554
TRAVEL_AND_LOCAL                219       0.228082        4.069519
VIDEO_PLAYERS                   163       0.064172        4.044595
WEATHER                          79       0.410380        4.243056

In [12]:
#Reading CSV file
reviews = pd.read_csv("datasets/user_reviews.csv")
reviews.head()

,App,Review,Sentiment Category,Sentiment Score
0,10 Best Foods for You,I like eat delicious food. That's I'm cooking ...,Positive,1.00
1,10 Best Foods for You,This help eating healthy exercise regular basis,Positive,0.25
2,10 Best Foods for You,NaN,NaN,NaN
3,10 Best Foods for You,Works great especially going grocery store,Positive,0.40
4,10 Best Foods for You,Best idea us,Positive,1.00

In [13]:
#Slicing the records with Finance category from the whole dataframe 
finance_apps = apps[apps["Category"]=="FINANCE"]#Conditional Accessing
finance_apps.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Last Updated
837,K PLUS,FINANCE,4.4,124424,NaN,10000000,Free,0.0,"June 26, 2018"
838,ING Banking,FINANCE,4.4,39041,NaN,1000000,Free,0.0,"August 3, 2018"
839,Citibanamex Movil,FINANCE,3.6,52306,42.0,5000000,Free,0.0,"July 27, 2018"
840,The postal bank,FINANCE,3.7,36718,NaN,5000000,Free,0.0,"July 16, 2018"
841,KTB Netbank,FINANCE,3.8,42644,19.0,5000000,Free,0.0,"June 28, 2018"

In [14]:
#Slicing the records with Finance category and Free Type from the finance_apps dataframe 
free_finance_apps = finance_apps[finance_apps["Type"]=="Free"]#Conditional Accessing
free_finance_apps.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Last Updated
837,K PLUS,FINANCE,4.4,124424,NaN,10000000,Free,0.0,"June 26, 2018"
838,ING Banking,FINANCE,4.4,39041,NaN,1000000,Free,0.0,"August 3, 2018"
839,Citibanamex Movil,FINANCE,3.6,52306,42.0,5000000,Free,0.0,"July 27, 2018"
840,The postal bank,FINANCE,3.7,36718,NaN,5000000,Free,0.0,"July 16, 2018"
841,KTB Netbank,FINANCE,3.8,42644,19.0,5000000,Free,0.0,"June 28, 2018"

In [15]:
#Merging the free_finance_apps dataframe with reviews dataframe on the App column
new = pd.merge(free_finance_apps,reviews,on='App')
new.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Last Updated,Review,Sentiment Category,Sentiment Score
0,Citibanamex Movil,FINANCE,3.6,52306,42.0,5000000,Free,0.0,"July 27, 2018","Forget paying app, designed make fail payments...",Negative,-0.500000
1,Citibanamex Movil,FINANCE,3.6,52306,42.0,5000000,Free,0.0,"July 27, 2018","It's working expected, talking best bank Mexic...",Positive,0.400000
2,Citibanamex Movil,FINANCE,3.6,52306,42.0,5000000,Free,0.0,"July 27, 2018",It has many problems with Android 8.1. You can...,Positive,0.250000
3,Citibanamex Movil,FINANCE,3.6,52306,42.0,5000000,Free,0.0,"July 27, 2018","I changed my phone to a Xiaomi Redmi Note 5, t...",Positive,0.175000
4,Citibanamex Movil,FINANCE,3.6,52306,42.0,5000000,Free,0.0,"July 27, 2018",In her eagerness to make her look pretty with ...,Negative,-0.158333

In [16]:
#Grouping by App column and the aggregation function on the Sentiment Score column
user_feedback = new.groupby("App").agg({"Sentiment Score":'mean'})
user_feedback.head()

                                Sentiment Score
App
A+ Mobile                              0.329592
ACE Elite                              0.252171
Acorns - Invest Spare Change           0.046667
Amex Mobile                            0.175666
Associated Credit Union Mobile         0.388093

In [17]:
#Sorting by the Sentiment Score column
user_feedback = user_feedback.sort_values(by=['Sentiment Score'],ascending=False)
user_feedback.head()

                                           Sentiment Score
App
BBVA Spain                                        0.515086
Associated Credit Union Mobile                    0.388093
BankMobile Vibe App                               0.353455
A+ Mobile                                         0.329592
Current debit card and app made for teens         0.327258

In [18]:
#Getting the top 10 free FINANCE apps having the highest average sentiment score
top_10_user_feedback = user_feedback[:10]
top_10_user_feedback

                                            Sentiment Score
App
BBVA Spain                                         0.515086
Associated Credit Union Mobile                     0.388093
BankMobile Vibe App                                0.353455
A+ Mobile                                          0.329592
Current debit card and app made for teens          0.327258
BZWBK24 mobile                                     0.326883
Even - organize your money, get paid early         0.283929
Credit Karma                                       0.270052
Fortune City - A Finance App                       0.266966
Branch                                             0.264230